ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: right;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-name {
    float: left;
}

li:hover {
    background-color: #141414;
    color: white;
    cursor: pointer
}

  /*
  #000000
  #141414
  #1b1b1b
  #ffffff
  #f3f3f3
  #e1e1e1 
  */